[mysqld]
user = mysql
datadir = /var/lib/mysql
port = 3306
bind-address = 0.0.0.0
log-error = /var/log/mysql/error.log
general-log = 1
general-log-file = /var/log/mysql/general.log
skip-host-cache
skip-name-resolve
